<script>
    $(document).ready(function(){
    
        $("#showInfoButton").click(function(){
            $("#container_showInfo").hide();
            $("#container_editInfo").show();
        });
        
        $("#submit").click(function(){
            $("#container_showInfo").show();
            $("#container_editInfo").hide();
        });
        
        $("#addNewDir").click(function(){
            var eingabe = prompt('Bitte geben Sie den Namen fuer das neue Verzeichnis an :','');
        
            if (eingabe != null)
            {      
                eingabe = eingabe.replace(/[^A-Z a-z0-9_-]/g, '');            
                self.location.href='<!-- lw:var adddir -->&name=' + eingabe;
            }
        });
        
        $("#addNewFile").click(function(){
            self.location.href='<!-- lw:var addfile -->';
        });
        
        <!-- lw:if error -->
            alert("<!-- lw:var errorMsg -->");
        <!-- lw:endif error -->

        <!-- lw:if confirm -->
            if(confirm('In dem Verzeichnis [ <!-- lw:var deleteANonEmptyDir --> ] befinden sich Daten. Verzeichnis mit allen Daten wirklich löschen ?')){
                self.location.href='<!-- lw:var execute-link -->directory&cmd=delete&dir=<!-- lw:var reldir --><!-- lw:var dir -->&confirm=1';
            }
        <!-- lw:endif confirm -->
        
    });
</script>

<div id="directoryexplorer" class="clearfix">
    
    <!-- lw:if showbreadcrumb -->
    <div id="de_breadcrumb" class="clearfix">
            <a href="<!-- lw:var startverzeichnis -->">&gt;home</a>
            <!-- lw:var breadcrumbcontent -->
    </div>
    <!-- lw:endif showbreadcrumb -->

    <div id="directoryinfo" class="clearfix">
        <div id="container_showInfo">
            <div id="showInfo"><!-- lw:var contentdirectoryinfo --></div>
            <!-- lw:if showadditems -->
            <a href="#" class="info" id="showInfoButton">edit Info</a>
            <!-- lw:endif showadditems -->
        </div>
        <div id="container_editInfo">
            <form action="<!-- lw:var dirinfoformaction -->" method="POST" >
                <textarea name="textareaDirInfo"><!-- lw:var contentdirectoryinfoTA --></textarea>
                <input id="submit" type="submit" value="save changes">
                <input type="hidden" name="sent" value="1"/>  
            </form>
        </div>
    </div>

    <div class="lwde_add_buttons">
        <!-- lw:if showadditems -->
        <!-- lw:if showNewDir -->
        <a href="#" id="addNewDir" class="adddir" title="add new directory"><span>add Dir</span></a>
        |
        <!-- lw:endif showNewDir -->
        <a href="#" id="addNewFile" class="addfile" title="add new file"><span>add File</span></a>
        <!-- lw:endif showadditems -->
    </div>
    

    <div id="container_directorydisplay">
        <table>
            <thead>
                <tr>
                    <th>File/Dir</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- lw:if back -->
                <tr class="even"> 
                    <td colspan="6"><a class="back" href="<!-- lw:var backdir -->"><span>back</span></a></td>
                </tr>
                <!-- lw:endif back -->
                <!-- lw:if home -->
                <tr class="even <!-- lw:if actualdir -->actual<!-- lw:endif actualdir -->"> 
                    <td colspan="6" class="lwde_filename">
                        <div style="margin-left: <!-- lw:var home_margin_left -->px;">
                            <a href="<!-- lw:var home_link -->" <!-- lw:if actualdir -->class="actual"<!-- lw:endif actualdir --><!-- lw:if dir -->class="dir"<!-- lw:endif dir --><!-- lw:if file -->class="file"<!-- lw:endif file --><!-- lw:if opendir -->class="opendir"<!-- lw:endif opendir -->>
                                <span>Home</span>
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- lw:endif home -->
                <!-- lw:var directorycontent -->
                <tr class="trenner">>
                    <td colspan="6">&nbsp; Files in: <span class="activeDir">&nbsp;<!-- lw:var activedirectory --><span></td>
                </tr>
                <!-- lw:var filecontent -->
            </tbody>
        </table>
    </div>
</div>
