<div id="directoryexplorer" class="clearfix">

    <div id="de_breadcrumb" class="clearfix">
        <p>FILE-UPLOAD</p>
    </div>

    <div id="container_form" class="clearfix">
        <h4>(Max File Size: <!-- lw:var maxfilesize -->) </h4>
        <h5>Whta should be done with the uploaded file, in case of a file with the same name already existing in the directory?</h5>
        <form action="<!-- lw:var formactionlink -->" method="POST" ENCTYPE="multipart/form-data">  
            <div class="a"><input type="radio" name="radiobutton_upload" value="ablehnen" checked="checked">reject the uploaded file.</div>
            <div class="b"><input type="radio" name="radiobutton_upload" value="ueberschreiben">replace the existing file.</div>
            <div style="display:none;" class="a"><input type="radio" name="radiobutton_upload" value="suffix">add a suffix to the uploaded file.</div>
            <div class="a"><input class="upload" name="uploadfield" type="file"></div>
            <div class="alast clearfix">
                <input class="btnback" type="button" value="back" onclick="
                           
                    self.location.href='<!-- lw:var backlink -->';
                           
                       "/>
                <input class="submit" type="submit" value="upload"/>
            </div>
            <input type="hidden" name="sent" value="1"/>  
        </form>
        
        <!-- lw:if error -->
        <script type="text/javascript">
            
            alert('<!-- lw:var errormsg -->');
            
        </script>
        <!-- lw:endif error -->
    </div>
    
</div>
